arrow
attrs
Automat
certifi
cffi
chardet
click
constantly
cryptography
cssselect
csv23
Flask
hyperlink
idna
incremental
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
jsonfy
lxml
MarkupSafe
parsel
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
python-dateutil
queuelib
requests
Scrapy
service-identity
beautifulsoup4
requests
yml
six
selenium
subprocess.run
time-adapters
Twisted
urllib3
w3lib
Werkzeug
zope.interface
uwsgi
Flask-WTF
schedule
logging3
Flask-SQLAIchemy == 2.5.1
